@use 'sass:map';

$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

@mixin respond($size) {
  @media (max-width: map.get($breakpoints, $size)) {
    @content;
  }
}
