@use '@styles/spaces' as *;
@use '@styles/fonts' as *;

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: $fontFamilyPrimary;
}

body {
  margin: $sp-0;
}
