@use '@styles/colors' as *;
@use '@styles/spaces' as *;

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: $sp-2 $sp-3;
  background-color: $red;

  &__button {
    justify-self: start;
    padding: $sp-3;
    background: $green;
    font-weight: bold;
    cursor: pointer;
  }

  &__socials {
    justify-self: center;
  }

  &__langWrapper {
    justify-self: end;
  }
}
