@use '@styles/spaces' as *;
@use '@styles/colors' as *;

.card {
  display: flex;
  flex-direction: column;
  height: 100%;

  :global(.ant-card-body) {
    flex: 1;
    padding: $sp-2;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $sp-2;
    text-align: center;
  }

  &__icon {
    font-size: 64px;
    color: $red-2;
  }

  &__title {
    font-size: 14px;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    font-weight: bold;
  }
}
